<div style='background-color: #e5e5e5'>
	<div class='double-spacing' id="petsdiv"></div>
	<input type='hidden' id='location' value={{location}}>
	<input type='hidden' id='lat' value={{lat}}>
	<input type='hidden' id='lng' value={{lng}}>
	<!-- <input type='hidden' id='city' value={{city}}> -->
	<p id='city'>{{city}}</p>
	<p id='json'>{{json}}</p>
  <script src="/javascripts/pets.js"></script>
</div>
